* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    min-height: 100vh;
    background: #f3e7d0e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: #fff;
    width: 100%;
    max-width: 420px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #1d3557;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

form input,
form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1d3557;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #16324f;
}

.login-link {
    margin-top: 15px;
    text-align: center;
}

.login-link a {
    color: #1d3557;
    text-decoration: none;
    font-weight: bold;
}

.password-field {
    position: relative;
    width: 100%;
}

.password-field input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
}
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .row {
        flex-direction: column;
        gap: 0;
    }
}