body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3e7d0e3;
  }
  
  .page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .container h1 {
    color: #003e80;
    margin-bottom: 10px;
  }
  
  .info-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #043972;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background: #f1a305;
  }
  
  #resetMessage {
    margin-top: 10px;
    font-size: 14px;
  }
  
  #resetMessage.success {
    color: green;
  }
  
  #resetMessage.error {
    color: red;
  }
  
  .back-link {
    margin-top: 15px;
  }


#strengthBar {
    height: 6px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  #resetMessage {
    margin-top: 10px;
  }
  .success-box {
    display: none;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .checkmark {
    font-size: 60px;
    color: green;
    animation: pop 0.4s ease;
  }
  
  @keyframes pop {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }